@model int

@* <div>
    Panier @Model
</div> *@

<div id="react-cart"></div>

<link href="js/panier/index.css" rel="stylesheet" asp-append-version="true" />
<script src="js/panier/index.js" asp-append-version="true"></script>